body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0; /* Cor de fundo fora da área de edição */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

/* Estilo do container do editor */
.editor-container {
    width: 80%;
    max-width: 1000px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 130px;
}

    /* Estilo para fixar a barra de ferramentas no topo */
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #233bc2;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 1000;
    text-align: center;
}

/* Botões da barra de ferramentas */
.toolbar button,
.toolbar select,
.toolbar input {
    padding: 8px;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.toolbar button.selected {
    background-color: #4444ff; /* Cor de fundo quando o botão for selecionado */
    color: white; /* Cor do texto quando o botão for selecionado */
}

/* Estilo de hover nos botões da barra de ferramentas */
.toolbar button:hover{
    background-color: #ddd;
}

.toolbar button:active {
    background-color: #6666ff; /* Cor enquanto o botão estiver sendo pressionado */
}

.toolbar select:hover,
.toolbar input:hover {
    background-color: #ddd;
}

/* Área de edição */
.editor {
    padding: 20px;
    min-height: 400px;
    font-size: 18px;
    border-top: 1px solid #ddd;
    outline: none;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.5;
    background-color: white;
    box-sizing: border-box;
}

/* Estilo do header para o nome do documento */
header {
    padding: 10px;
    background-color: #333;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 0px;
}

#document-name {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: white;
}

/* Margem cinza ao redor da área de escrita */
.editor-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #ccc;
    background-color: #93afb4; /* Cor de fundo fora da área de edição */
    z-index: -1;
}

/* Adaptabilidade para telas menores */
@media screen and (max-width: 768px) {
    .toolbar {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .editor-container {
        width: 95%;
        margin-left: 0;
    }

    header {
        margin-left: 0;
    }
}
